@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #202023;
  background: #f1e7db;
}

.navbar {
  background: #ffffff40;
}

[data-theme='dark'] body {
  color: #f1e7db;
  background: #202023;
}

[data-theme='dark'] .navbar {
  background: rgba(32, 32, 35, 0.5);
}